{% extends 'index.html.twig' %}

{% block main %}

    {{ include('formation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_formation_index') }}">Retour</a>

   {# {{ include('formation/_delete_form.html.twig') }}  #}
{% endblock %}
