<h1>Nous étudions votre candidature</h1>

<p>
Nous avons bien reçu votre candidature, nous vous proposerons bientôt un rendez-vous afin d'en savoir plus sur vos motivations et confirmer
ou infirmer celle-ci.
</p>

<p>
    À très bientôt chez les <b>marcheurs forestier 3.0</b> !
</p>
