<h1>Hello ! Confirmez votre email !</h1>

<p>
    Confirmez votre e-mail en cliquant sur le lien suivant :<br><br>
    <a href="{{ signedUrl }}">Confirmez mon e-mail</a>
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Nous sommes ravis que vous rejoignez les <b>marcheurs forestier 3.0</b> !
</p>
