{% extends 'index.html.twig' %}
{% block main %}
<h2>La certification Waldganger&trade;</h2><br>
<p>Pour obtenir votre certification Waldganger, rien de plus simple (ou presque), vous devez:</p>
<p>- Soit être admissible au <em>programme spécial</em> dédiés aux adolescents entre 12 et 17 ans</p>
<p>- Sinon : avoir appris au <strong>minimum 80% de toutes les formations</strong></p>
<p>- Puis : passer l'examen <em>(dont le coût de passage est de 0.5 ETH)</em></p>
<p>- Mais surtout : avoir l'esprit <strong>"Marcheur forestier 3.0"</strong</p>

{% endblock %}
