{% extends 'index.html.twig' %}
{% block main %}
<h2>Don</h2><br>
<p>Sans vos dons l'organisation ne peux pas fonctionner ... nous vous remercions pour le moindre geste</p>
<p>Les dons se font en Ethereum à l'adresse suivante : 0x52cbb3f72cdcfc0a47cfc7e69e21b5e2fc5200fe</p>
<span><img src="{{ asset('build/uploads/photos/eth.jpg')}}" width="400px"></span>

{% endblock %}
