{% extends 'index.html.twig' %}
{% block main %}
<h2>Don</h2><br>
<p class="fs-3 alert-secondary"><strong>Sans vos dons l'organisation ne peux pas fonctionner ...</strong></p><p class="fs-3"><strong><em>Nous vous remercions pour le moindre geste !</em></strong></p>
<p class="fs-3 alert-info">Les dons se font en Ethereum à l'adresse suivante : 0x52cbb3f72cdcfc0a47cfc7e69e21b5e2fc5200fe</p>
<span><img src="{{ asset('build/uploads/photos/eth.jpg')}}" width="400px"></span>

{% endblock %}
