{% extends 'index.html.twig' %}
{% block main %}
<h2>Don</h2><br>
<p class="fs-3 alert-secondary"><strong>Sans vos dons l'organisation ne peux pas fonctionner ...</strong></p><p class="fs-3"><strong><em>Nous vous remercions pour le moindre geste !</em></strong></p>
<p class="fs-4 alert-info">Les dons se font en Ethereum à l'adresse suivante :</p>
<span><img class="imgFormation" src="{{ asset('build/uploads/photos/eth.jpg')}}" width="400px"></span>

{% endblock %}
