{% extends 'index.html.twig' %}
{% block main %}

    <h2>Modifier une section</h2>

    {{ include('section/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_section_index') }}">Retour</a>

{% endblock %}
