{% extends 'index.html.twig' %}
{% block main %}

	<h1>Section</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Formation</th>
				<td>{{ section.formation }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ section.titre }}</td>
			</tr>
		</tbody>
	</table>

	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('app_section_index') }}">Retour aux sections</a><br><br>
	{% endif %}

	{% if is_granted('ROLE_INSTRUCTEUR') %}
		<a href="{{ path('app_section_edit', {'id': section.id}) }}">Modifier</a>
		<br><br>

	{% endif %}
{% endblock %}
