{% extends 'index.html.twig' %}
{% block main %}
<div class="container mx-auto">
<video class="mx-auto video" width="500em" controls autoplay>
	<source src="{{asset('build/uploads/photos/organisation.mov')}}" type="video/mp4">
</video>
</div>
{% endblock %}
