{% extends 'index.html.twig' %}
{% block main %}
    <h2>Edit Cours</h2>

    {{ include('cours/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_cours_index') }}">Retour aux cours</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
