{% extends 'base.html.twig' %}

{% block title %}Edit Progress{% endblock %}

{% block body %}
    <h1>Edit Progress</h1>

    {{ include('progress/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_progress_index') }}">back to list</a>

    {{ include('progress/_delete_form.html.twig') }}
{% endblock %}
